<%= form_for @step do |f| %>
  <div class="field">
    <%= f.label :steps_count %>
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
